<nav class="navbar navbar-expand navbar-dark" style="background-color: rgb(233, 43, 43)">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/cars">Home</a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/car">New Car</a>
        </li>
    </ul>
</nav>
