<div class="row m-2">
    <div class="col-3">
        <app-left-panel (sort3)="sortChange($event)" (fuel3)="fuelChange($event)" (type3)="typeChange($event)"></app-left-panel>
    </div>
    <div class="col-8 container">
        <h2 class="text-center col-8">All Cars</h2>
        <form action="" [formGroup]="simpleForm">
            <div class="row">
                <div class="col-2 h5">Price Range:</div>
                <div class="form-group col-2 mr-3">
                    <input placeholder="MinPrice" type="text" formControlName="minprice" (keyup.enter)="onChangeOpt()" class="form-control" />
                </div>

                <div class="form-group col-2 ml-3">
                    <input type="text" placeholder="MaxPrice" formControlName="maxprice" (keyup.enter)="onChangeOpt()" name="" class="form-control" />
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col col-3 text-center bg-warning border" *ngFor="let item of allData">
                <div class="row">
                    <div class="col-12">
                        <h6>{{ item.model }}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">Price : {{ item.price }}</div>
                </div>
                <div class="row">
                    <div class="col-12">Color : {{ item.color }}</div>
                </div>
                <div class="row">
                    <div class="col-12">Mileage : {{ item.kms }}</div>
                </div>
                <div class="row">
                    <div class="col-12">Manufactured in {{ item.year }}</div>
                </div>
                <div class="row">
                    <div class="col-4 ml-4">
                        <i (click)="editFun(item.id)" class="fa fa-edit h6"></i>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-2">
                        <div class="col-4">
                            <i (click)="delFun(item.id)" class="fa fa-trash-o h6"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
