<div class="border p-3 text-center">
    <h6>Options</h6>
</div>
<div class="border p-3 text-center">
    <h6>Bestseller</h6>
    <div *ngFor="let item of bestSellerOptions.options">
        <input type="checkbox" class="form-check-input" value="item.isSelected" [(ngModel)]="item.isSelected" (change)="changeOpt()" />{{ item.refineValue }}({{ item.totalNum }})
    </div>
</div>
<div class="border p-3 text-center">
    <h6>Langauge</h6>
    <div *ngFor="let item of languageOptions.options">
        <input type="checkbox" class="form-check-input" value="item.isSelected" [(ngModel)]="item.isSelected" (change)="changeOpt()" />{{ item.refineValue }}({{ item.totalNum }})
        <br />
    </div>
</div>
<div class="border p-3 text-center">
    <button class="btn-primary" (click)="bestSellerChange()">Refine</button>
</div>