<div class="container" style="font-size: large">
    <div class="row">
        <div class="col-12 text-center">
            <h3 *ngIf="!editBool">Car Details</h3>
            <h3 *ngIf="editBool">Update Car Details</h3>
        </div>
    </div>
    <form action="" [formGroup]="simpleForm" (ngSubmit)="onSubmit()">
        <div class="row mt-2">
            <div class="col-12 mt-1">Car id:</div>
        </div>

        <div class="row">
            <div class="col-12">
                <input type="text" placeholder="Enter id" class="form-control" formControlName="carid" name="" />
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-2">Price:</div>
        </div>

        <div class="row">
            <div class="col-12">
                <input type="text" placeholder="Enter price" class="form-control" formControlName="price" name="" />
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-2">Mileage in kms</div>
        </div>

        <div class="row">
            <div class="col-12">
                <input type="text" class="form-control" placeholder="Enter mileage" formControlName="kms" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">Year of Manufacture</div>
        </div>

        <div class="row">
            <div class="col-12">
                <input type="text" class="form-control" formControlName="year" placeholder="Enter year" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-6">Model</div>
            <div class="col-6">Color</div>
        </div>

        <div class="row">
            <div class="col-6">
                <select name="" formControlName="model" class="form-control" (change)="createColorOpt()">
          <option value="">Enter Model</option>
          <option value="{{ item.model }}" *ngFor="let item of carmaster">
            {{ item.model }}
          </option>
        </select>
            </div>
            <div class="col-6">
                <select formControlName="color" class="form-control">
          <option value="">Enter Color</option>
          <option value="{{ item }}" *ngFor="let item of colorOpt">
            {{ item }}
          </option>
        </select>
            </div>
        </div>
        <div class="row mt-4" *ngIf="!editBool">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <div class="row mt-4" *ngIf="editBool">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>
</div>