<div class="container">
    <div class="row mt-5 ml-5">
        <div class="col-12 border p-2" style="background-color: whitesmoke">
            <h6>Fuel</h6>
        </div>

        <div class="col-12 border p-2" *ngFor="let item of fuelOpt.options">
            <input type="radio" name="fuel4" value="{{ item }}" [(ngModel)]="fuelOpt.isSelected" (ngModelChange)="changeOpt()" />&nbsp;{{ item }}
        </div>

        <div class="col-12 border p-2 mt-5" style="background-color: whitesmoke">
            <h6>Type</h6>
        </div>

        <div class="col-12 border p-2" *ngFor="let item of typeOpt.options">
            <input type="radio" name="type4" value="{{ item }}" [(ngModel)]="typeOpt.isSelected" (ngModelChange)="changeOpt()" />&nbsp;{{ item }} <br />
        </div>

        <div class="col-12 border p-2 mt-5" style="background-color: whitesmoke">
            <h6>Sort</h6>
        </div>

        <div class="col-12 border p-2" *ngFor="let item of sortOpt.options">
            <input type="radio" name="sort4" value="{{ item }}" [(ngModel)]="sortOpt.isSelected" (ngModelChange)="changeOpt()" />&nbsp;{{ item }} <br />
        </div>
    </div>
    <div></div>
</div>