<div class="container-fluid">
    <app-topbar></app-topbar>
    <div class="row container-fluid">
        <div class="col-2">
            <app-leftpanel [allData]="allData" [bestSellerOptions]="bestSellerOptions" (optChange)="changeOpt()" [languageOptions]="languageOptions" (best)="bestSellerChange()"></app-leftpanel>
        </div>
        <div class="col-10 mt-4">
            {{ start }} to {{ end }} of {{ allData.pageInfo.totalItemCount }}
            <div class="row bg-primary">
                <div class="col-3 border">Title</div>
                <div class="col-3 border">Author</div>
                <div class="col-2 border">Langauge</div>
                <div class="col-2 border">Genre</div>
                <div class="col-1 border">Price</div>
                <div class="col-1 border text-truncate">Best Seller</div>
            </div>
            <div class="row" *ngFor="let item of currDisplayarr">
                <div class="col-3 border">{{ item.name }}</div>
                <div class="col-3 border">{{ item.author }}</div>
                <div class="col-2 border">{{ item.language }}</div>
                <div class="col-2 border">{{ item.genre }}</div>
                <div class="col-1 border">{{ item.price }}</div>
                <div class="col-1 border">{{ item.bestseller }}</div>
            </div>

            <div class="row">
                <div class="col-10">
                    <button class="btn-primary m-1" *ngIf="allData.pageInfo.pageNumber > 1" (click)="previous()">
            Previous
          </button>
                    <button class="btn-primary m-1" *ngIf="allData.pageInfo.pageNumber < allData.pageInfo.numberOfPages" (click)="next()">
            Next
          </button>
                </div>
            </div>
        </div>
    </div>
</div>